Repository DPGAlliance/publicgoods-candidates, pull requests merged in 2021-12, with the labels that each got.

#894 Add nominee: Sunbird QuML
  nominees/sunbird-quml.json
Labels: nomination, pending review

#899 Add nominee: Kindly
  nominees/kindly.json
Labels: nomination, pending review

#903 Add nominee: SantéMPI
  nominees/santempi.json
Labels: nomination, pending review

#889 Add nominee: OpenHIM
  nominees/open-health-information-mediator.json
  nominees/openhim.json
Labels: nomination, pending review

#700 Add DPG: Find Your Immunization
  digitalpublicgoods/find-your-immunization.json
  nominees/find-your-immunization.json
Labels: Digital Public Good

#893 Add DPG: Sunbird QuML
  digitalpublicgoods/sunbird-quml.json
Labels: Digital Public Good, technical review

#888 Add DPG: SantéIMS
  digitalpublicgoods/santeims.json
  nominees/santeims.json
Labels: Digital Public Good, technical review

#906 Update nominee to DPG: Sunbird QuML
  nominees/sunbird-quml.json
Labels: Digital Public Good

#586 Add DPG: VRapeutic
  digitalpublicgoods/vrapeutic.json
  nominees/vrapeutic.json
Labels: Digital Public Good, technical review

#890 Add nominee: GNU Health
  nominees/gnu-health.json
Labels: nomination

#887 Add nominee: OpenBoxes
  nominees/openboxes.json
Labels: nomination

#874 Add nominee: Simple
  nominees/simple.json
Labels: nomination, pending review

#904 Add nominee: Aam Digital
  nominees/aam-digital.json
Labels: nomination

#914 Add nominee: DIGIT
  nominees/digit.json
Labels: nomination, pending review

#900 Add DPG: Kindly
  digitalpublicgoods/kindly.json
Labels: Digital Public Good, technical review

#913 Add DPG: DIGIT
  digitalpublicgoods/digit.json
  nominees/digit.json
Labels: Digital Public Good, technical review

#915 Add DPG: Kindly
  nominees/kindly.json
Labels: pending review

#905 Add DPG: Aam Digital
  digitalpublicgoods/aam-digital.json
  nominees/aam-digital.json
Labels: Digital Public Good, technical review

#598 Add DPG: NotesMaster
  digitalpublicgoods/notesmaster.json
  nominees/notesmaster.json
Labels: Digital Public Good, technical review

#902 Add DPG: SantéMPI
  digitalpublicgoods/santempi.json
  nominees/santempi.json
Labels: Digital Public Good, technical review

#722 Add nominee: Automated Data Agreement (ADA) Project
  nominees/automated-data-agreement.json
Labels: nomination, pending review

#721 Add DPG: Automated Data Agreement
  digitalpublicgoods/automated-data-agreement.json
  nominees/automated-data-agreement.json
Labels: Digital Public Good, technical review

#579 Add DPG: Sanitation Digital Solutions Platform
  digitalpublicgoods/sanitation-digital-solutions-platform.json
  nominees/sanitation-digital-solutions-platform.json
Labels: Digital Public Good, technical review

#875 Add DPG: Simple
  digitalpublicgoods/simple.json
  nominees/simple.json
Labels: Digital Public Good, technical review

#588 Add DPG: Statbus
  digitalpublicgoods/statbus.json
  nominees/statbus.json
Labels: Digital Public Good, technical review

#741 Add DPG: Flow Cameroon
  digitalpublicgoods/flow-cameroon.json
  nominees/flow-cameroon.json
Labels: Digital Public Good
