Repository DPGAlliance/publicgoods-candidates, pull requests merged in 2021-08, with the labels that each got.

#670 Update package.json
  package.json
Labels: Documentation

#620 Add nominee: Altinn
  nominees/altinn.json
Labels: nomination, pending review

#671 Add DPG: Altinn
  digitalpublicgoods/altinn.json
  nominees/altinn.json
Labels: pending review, Digital Public Good

#162 Add nominee: Translation Initiative for Covid-19 (TICO-19)
  nominees/translation-initiative-for-covid-19.json
Labels: nomination, pending review

#635 Add DPG: MERON
  digitalpublicgoods/meron.json
  nominees/meron.json
Labels: pending review, Digital Public Good, technical review

#660 Add DPG: Glific
  digitalpublicgoods/glific.json
  nominees/glific.json
Labels: Digital Public Good, technical review

#646 Add DPG: VivoosVR (Issue #555)
  digitalpublicgoods/vivoosvr.json
  nominees/vivoosvr.json
Labels: pending review, Digital Public Good

#655 Add DPG: Oky (Issue #555)
  digitalpublicgoods/oky.json
  nominees/oky.json
Labels: pending review, Digital Public Good

#675 Add nominee: Productive Forests
  nominees/productive-forests.json
Labels: nomination, pending review

#687 Add nominee: Cloudline
  nominees/cloudline.json
Labels: nomination, UNICEF Venture Fund

#685 Add nominee: PortableUTM
  nominees/portableutm.json
Labels: nomination, pending review, UNICEF Venture Fund

#627 Add DPG: Coronasafe Care
  digitalpublicgoods/coronasafe-care.json
Labels: pending review, Digital Public Good, technical review
