Repository DPGAlliance/publicgoods-candidates, pull requests merged in 2022-03, with the labels that each got.

#1046 Add license: OGL-UK-3.0
  nominee-schema.json
Labels: pending review

#1060 MAINT: add .json extension
  nominees/homeless-children-playtime-project
  nominees/homeless-children-playtime-project.json
  nominees/inasafe.json
  nominees/nmf-earth
  nominees/optikey.json
  nominees/scioxr
  nominees/scioxr.json
  nominees/sempo.json
  nominees/total11y
  nominees/total11y.json
Labels: bug

#1066 Update nominee: epiRust
  nominees/epirust.json
Labels: pending review

#1075 Add stage: archive
  nominee-schema.json
Labels: enhancement

#1086 [MAINT] Move nominees without contact information to archive
  nominees/2019-ncov-data-repository-by-johns-hopkins-csse.json
  nominees/2020policebrutality.json
  nominees/5calls-frontend.json
  nominees/5calls-ios.json
  nominees/aarogya-setu.json
  nominees/accessibility-cloud.json
  nominees/adopt-a-drain.json
Labels: pending review

#1087 Archive obsolete nominees
  archive/2019-ncov-data-repository-by-johns-hopkins-csse.json
  archive/2020policebrutality.json
  archive/5calls-frontend.json
  archive/5calls-ios.json
  archive/aarogya-setu.json
  archive/accessibility-cloud.json
  archive/adopt-a-drain.json
Labels: pending review, archive

#1088 Archive nominee: Digital Assister for Michigan & Mapeo Desktop
  archive/digital-assister-for-michigan.json
  archive/mapeo-desktop.json
Labels: pending review, archive

#1109 Re-review DPG: X-road
  digitalpublicgoods/x-road.json
Labels: pending review, Digital Public Good

#1106 Re-review DPG: OpenCRVS
  digitalpublicgoods/opencrvs.json
  nominees/opencrvs.json
Labels: Digital Public Good

#1043 Exclude nominee: Aster projects
  excluded-nominees/README.md
  excluded-nominees/aster-emergency-scoring.json
  excluded-nominees/aster-platform.json
  excluded-nominees/aster-stream.json
Labels: pending review, excluded nomination
